.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100vw;
    height: auto;
    box-shadow: 0px 5px 10px rgb(202, 200, 200);
    
  }
  a:link, a:visited, a:active {
    text-decoration:none;
    color: grey;
}
#navbarScrollingDropdown{
  width:auto;
}


.navbar a{
    margin-left: 1em;
    align-items: center;
    text-align: left;
  }
.navbar a:hover{
    color: #b60e0e !important;
    
  }
.logoGrido{
  margin-top: 2em;
  margin-left: 2em;
}
.menuCatalogo{
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap  ;
  justify-content: center;
  height: 1em;
  width: 100%;
  text-align: center;
  align-items: center;
}
.carritoSVG{
  justify-content: end;
  width: auto;
  margin-left: 1em;
  padding-bottom: 2em;  
}


