.addCarrito{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
span{
    padding:4px 10px;
    border: solid 1px #cfcdcd;
}
.sumres{
    margin-bottom: 1em;
    width: 2em;
    height: auto;
}
.addcart{
    margin-left: 1em;
    height: 2em;
    margin-top: 0.5em;
    align-items: center;
}