.contenedor{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 2em;
    
}

.catalogo{
    margin-top: 0.5em;
    margin-left: 2em;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card {
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    align-content: space-around;
    background: #f5f5f5;
    box-shadow: 10px 10px 10px #b1b0b0;
    width: 16em;
    gap: 1em;
  }
  .card-text{
      text-align: center;
      font-weight:bold;
  }
  .card-title{
      text-size-adjust: auto;
  }